{% extends 'listBase.html.twig' %}

{% block body %}
<h3 class="page-header">Food Bank Wish List</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Donation Item</th>
			<th>Donation Amount</th>
			<th>Donation Unit</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for list in lists %}
		<tr>
			<th scope="row">{{list.id}}</th>
			<td>{{list.foodItem.name}}</td>
			<td>{{list.quantity}}</td>
			<td>{{list.unit.name}}</td>
			<td>
				<a href="/list/edit/{{list.id}}" class="btn btn-default">Edit</a>
				<a href="/list/delete/{{list.id}}" class="btn btn-danger">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
