{% extends 'listBase.html.twig' %}

{% block body %}
<h3 class="page-header">Food Bank Wish List</h3>

<style type="text/css">
	thead, tr:nth-child(even) {
		background: #aba;
	}
</style>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Donation Item</th>
			<th>Donation Amount</th>
			<th>Donation Unit</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% set inc = 1 %}
		{% for list in lists %}

		<tr>
			<th scope="row">{{inc}}</th>
			<td>{{list.foodItem.name}}</td>
			<td>{{list.quantity}}</td>
			<td>{{list.unit.name}}</td>
			<td>
				<a href="/bank/list/edit/{{list.id}}" class="btn btn-default">Edit</a>
				<a href="/bank/list/delete/{{list.id}}" class="btn btn-danger">Delete</a>
			</td>
		</tr>
		{% set inc = inc + 1 %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
